html {
  height: 100%;
  overflow: auto;
}

body {
  position: relative;
  background: lightgreen;
  margin: 0 auto;
  min-height: 100%;
  overflow: auto;
}

#header {
  height: 100px;
  background: green;
  margin: 0 auto;
}

#header .logo {
  float: left;
  padding: 35px;
  width: 20%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header .logo img {
  width: 150px;
}

#header .searchBox {
  float: left;
  padding: 35px;
  width: 60%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header .searchBox input {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

#header .welcomeBox {
  float: left;
  width: 20%;
  padding: 30px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}
